.container {
    position: relative;
    gap: 1rem;
    padding: 0 6rem;
    background-image: url("/public/img/landing-page-image.jpg");
    background-size: cover;
    height: calc(100vh - 7rem);
}

.info-container h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.info-container p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
