.modal-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}