header {
    margin: 2rem 2rem;
    font-size: 1.6rem;
    .main-link {
        font-size: 2.6rem;
        font-family: NewsReader;
        text-decoration: none;
        color: rgba(18, 77, 16, 0.65);
    }
    ul {
        height: 5rem;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    #navbar-items {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            color: inherit;
        }

        .login-link {
            background-color: rgba(18, 77, 16, 0.6588);
            padding: 1rem 1.5rem;
            border-radius: 8px;
            color: white;
        }
    }
}

@media (max-width: 600px) {
    header {
        margin: 1rem 1rem;
        #navbar-items {
            gap: 1rem;
        }
    }
}
