#root-add-pet {
    display: flex;
    justify-content: center;

    .container {
        border: 1px solid #ced4da;
        border-top: 0.5rem solid hsla(var(--anima-green), 0.65);
        display: inline-flex;
        flex-direction: column;
        border-radius: 0.2rem;
        width: 50%;
        padding: 2rem 0;
        background-color: white;

        #title {
            font-family: NewsReader;
            letter-spacing: 0.2rem;
            font-weight: 500;
            margin: 2rem;
        }

        .form-control {
            display: flex;
            flex-direction: column;
            margin: 2rem 20%;
            font-size: 1.8rem;

            input,
            select {
                padding: 0.5rem;
                font-size: inherit;
            }
            textarea {
                height: 10rem;
                padding: 0.5rem;
                width: 100%;
            }
        }
        .button {
            padding: 0 20%;
            button {
                padding: 1rem;
                font-size: 2rem;
            }
        }
        h1 {
            text-align: center;
        }
    }
}
